@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

:root {
  --bg: white;
  --soft-bg: darkGrey;
  --dark-bg: rgb(28, 28, 28);
  --text: black;
  --text-white: white;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 65vw;
  margin: auto;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

/* Header Styles */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 7vh;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.logo {
  font-weight: bold;
  font-size: 1.3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.links {
  display: flex;
  align-items: center;
  gap: 1.5vw;
  font-weight: normal;
  font-size: 0.9rem;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1vw;
}

.search-btn {
  width: 1vw;
  min-width: 15px;
  margin-bottom: 0.5vh;
}

/* End of Navbar Styles */

/* Main Page Styles */
.topSection {
  display: flex;
  flex-direction: column;
}

.author-container {
  width: 100%;
  height: fit-content;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
  text-align: center;
  margin-bottom: 10vh;
  margin-top: 6vh;
}

.author-details {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  max-width: 350px;
}

.author-image {
  max-width: 75px;
  border-radius: 3rem;
}

.author-name {
  font-size: 1.7rem;
  color: #0d122b;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  margin-bottom: 0.2rem;
}

.author-description {
  font-size: 1rem;
  opacity: 0.7;
  line-height: 1.5rem;
}

.recent-posts {
  font-size: 1.2rem;
}

.listSection {
  display: flex;
  flex-direction: column;
}

.footerContainer {
  margin-top: auto;
}

/* End of Main Page Styles */

/* Footer Styles */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  font-size: 1rem;
}

div img {
  max-width: 1.5rem;
}

.socialLinks {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

/* End of Footer Styles */

/* Lists Styles */

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0d122b;
  padding: 1vh 0.5vw;
  opacity: 0.8;
  border-top: 0.5px solid lightgray;
}

/* End of Lists Styles */

/* Single Styles */

.postDetails {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  font-family: "Roboto", sans-serif;
  padding-bottom: 3vh;
  border-bottom: 1px solid lightgray;
}

.postDescription {
  line-height: 1.6rem;
  text-align: left;
}

.postTitle {
  line-height: 2.5rem;
  text-align: left;
}

.postCategories {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  align-items: center;
}

.postSingleCategory {
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
  background-color: var(--dark-bg);
  font-size: 0.9rem;
  color: var(--text-white);
}

.otherDetailsSection {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-top: 2vh;
}

.otherDetailsContainer {
  display: flex;
  gap: 3vh;
}

.authorImage {
  border-radius: 2rem;
  width: 3rem;
  height: auto;
  max-width: 100%;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 0.3vh;
}

.authorName {
  font-size: 1rem;
}

time {
  font-style: italic;
  font-size: 0.9rem;
}

.postContent {
  font-size: 1rem;
  line-height: 2.2rem;
  margin-top: 7vh;
  display: flex;
  flex-direction: column;
  font-family: "Merriweather", sans-serif;
  text-align: justify;
}

/* End of Single Styles */

/* Category list styles */

.categoryTags {
  display: inline-block;
  justify-content: center;
  background-color: var(--dark-bg);
  color: var(--text-white);
  padding: 0.8vh 0.5vw;
  width: fit-content;
  border-radius: 0.5rem;
  margin-right: 1vw;
}

.categoryLists {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-top: 3vh;
}

.categorySingleList {
  font-style: italic;
  font-size: 1rem;
  padding-top: 1vh;
}

/* End of cateogry list styles */

/* Paginator Styles */

.pagination {
  display: flex;
  gap: 0.7vw;
  list-style: none;
  padding: 0;
  margin-top: 5vh;
  justify-content: center;
}

/* End of paginator styles */

@media (max-width: 1536px) {
  .container {
    max-width: 1366px;
  }
}

@media (max-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .links {
    font-size: 0.8rem;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  .links {
    gap: 3vw;
  }
}

@media (max-width: 475px) {
  .container {
    max-width: 400px;
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .logo {
    font-size: 1.2rem;
  }

  .author-name {
    font-size: 1.5rem;
  }

  .links {
    font-size: 0.8rem;
    gap: 4vw;
  }

  .socialLinks {
    gap: 2vw;
  }

  .postDetails {
    gap: 1.5vh;
  }

  .postTitle {
    line-height: 2.5rem;
    text-align: left;
    font-size: 1.7rem;
  }

  .postDescription {
    line-height: 1.6rem;
    text-align: left;
  }

  .otherDetailsSection {
    display: flex;
    align-items: center;
    gap: 3.5vw;
    margin-top: 3vh;
  }

  .otherDetailsContainer {
    display: flex;
    gap: 3vh;
  }

  .authorImage {
    border-radius: 2rem;
    width: 2.5rem;
    height: auto;
    max-width: 100%;
  }
}

@media (max-width: 360px) {
  .container {
    max-width: 275px;
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .author-details {
    width: 80vw;
  }

  .logo {
    font-size: 0.8rem;
  }

  .links {
    font-size: 0.55rem;
    gap: 3vw;
  }

  .search-container {
    margin-left: 1.5vw;
  }

  .search-btn {
    min-width: 10px;
  }
}
