<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- prettier-ignore -->
    <meta name="description" content={{ or .Params.description .Site.Params.description }}>
    <meta
      name="google-site-verification"
      content="8rxLdqKdRcu6pjenodm2LxJzO5W2e4W-7peEVoIZqU8"
    />
    <link rel="stylesheet" href="{{ .Site.BaseURL }}styles/styles.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{.Site.BaseURL}}images/pfp.ico"
    />
    <title>{{.Title}}</title>
  </head>
  <body>
    <div class="container">
      {{ partial "header" . }}
      <div class="topSection">
        <div class="author-container">
          <img
            src="https://avatars.githubusercontent.com/u/170727401?v=4"
            alt="author-image"
            class="author-image"
          />
          <div class="author-details">
            <a href="https://github.com/yasasbanukaofficial" class="author-name"
              >Yasas Banu</a
            >
            <p class="author-description">
              A developer who creates solutions to problems, but devobee is made
              to share knowledge.
              <strong> devobee by Yasas Banu.</strong>
            </p>
          </div>
        </div>
      </div>
      <label class="recent-posts">Recent Updates</label>
      <div class="listSection">
        <div class="listContainer">{{ block "main" . }} {{ end }}</div>
      </div>
      <div class="footerContainer">{{ partial "footer" . }}</div>
    </div>
  </body>
</html>
