<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>{{.Title}} | Devobee</title>
  </head>
</html>
<body>
  <div class="container">
    {{ partial "header" . }}
    <div class="single">
      <div class="postDetails">
        <h1 class="postTitle">{{ .Title }}</h1>
        <p class="postDescription">{{ .Description }}</p>
        <div class="otherDetailsSection">
          <img
            src="{{.Params.avatar}}"
            alt="author-image"
            class="authorImage"
          />
          <div class="otherDetailsContainer">
            <div class="infoContainer">
              <p class="authorName">{{.Params.authors}}</p>
              <time>{{ dateFormat .Site.Params.dateFormat .Date }}</time>
            </div>
            <div class="postCategories">
              {{ range (.GetTerms "categories") }}
              <a href="{{.Permalink}}" class="postSingleCategory">{{.Name}}</a>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footerContainer">{{ partial "footer" . }}</div>
  </div>
</body>
